/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800;900&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f9f6d6;
    color: #f9f6d6;
}
header {
    background: #0c0105;
    height: 77px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 1130px;
    margin: auto;
}
#menu {
    width: 20px;
    height: 15px;
    margin-left: 50px;
}
.block1, .block2, .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links  {
    justify-content: space-between;
    width: 150px;
    margin-right: calc(11600%/1280);
}
#map {
    width: 29px;
    height: 29px;
}
.text1, .text2 {
    color: #f3eebd;
    font-family: Raleway, serif;
    font-size: 19px;
    margin-left: 17px;
}
#map, #phone {
    margin-left: 17px;
}
#phone {
    width: 28px;
    height: 28px;
   /* margin-left: 17px;
    margin-top: 24px;*/
}
.twitter {
  /*  margin-left: 155px;
    margin-top: 26px;*/
}
.inst {
  /*  margin-left: 41px;
    margin-top: 26px;*/
}
.fb {
    margin-right: calc(11600%/1280);
   /* margin-left: 45px;
    margin-top: 26px;*/
}
.page_1 {
    background-image: url("images/bn.jpg");
    width: 100%;
    height: 683px;
    position: relative;
    background-position: center;
}
#main-menu {
    display: flex;
    flex-direction: column;
    float: left;

}
#main-menu a {
    text-decoration: none;
    color: #f3eebd;
    font-family: Raleway, serif;
    font-size: 24px;
    font-weight: 300;
}
.sitebar {
    float: right;
}
.sitebar-shadow {
    position: absolute;
}
.sitebar-name {
    width: 211px;
    height: 19px;
    color: #f1e9b9;
    font-family: "Raleway", serif;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sitebar-logo {
    margin-bottom: 30px;
}
.sidebar-under-logo {
    width: 217px;
    height: 45px;
    color: #f6f1bf;
    font-size: 24px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 25px;
}
form {
    width: 227px;
    height: 274px;
    background-color: rgba(255, 224, 146, 0.84);
    text-align: center;
    position: relative;

}
form label {

    width: 199px;
    height: 30px;
    color: #2e1810;
    font-family: "Raleway", serif;
    font-size: 21px;
    font-weight: 550;
    text-transform: uppercase;

}
form input[type=submit]{
    width: 164px;
    height: 51px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    background-color: #84bdd1;
}
form input[type=text] {
    width: 205px;
    height: 34px;
    background-color: #ffffff;
}
.line {
    width: 537px;
    height: 2px;
    background-color: #f9f6d6;
    position: absolute;
    bottom:34px; right:calc(37100%/1280);
}
.line img {
    margin-left: calc(26200%/537);
    margin-top: -18px;
}
.page_2{
    background: no-repeat url("images/table.png");
    height: 771px;
    position: relative;
}
.page_2-content {
    display: flex;
    justify-content: space-between;
}
.whyWe{

}
.whyWeText {
    width: 250px;
    height: 58px;
    border: 3px solid #626262;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px auto 0;
}
.whyText {
    color: #636259;
    font-family: Raleway, serif;
    font-size: 38px;
    font-weight: 500;
    text-transform: uppercase;
}
.weText {
    color: #0b0b08;
    font-family: "Raleway", serif;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
}
.whyWeLine {
    display: flex;
    width: 538px;
    justify-content: space-between;
    margin: 0 auto;
}
.firstLine, .secondLine {
    width: 170px;
    height: 1px;
    border-bottom: 1px solid #626262;
    margin-top: -35px;
}
.name-of-companies{
    margin-top: 260px;
}
.name-of-companies .name {
    width: 520px;
    height: 85px;
    color: #3c0a0d;
    font-family: "Raleway", serif;
    font-size: 48px;
    font-weight: 550;
    text-align: right;
}

.advantages {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}
.advantages-item {
    display: flex;
    margin-top: 119px;
    width: 266px;
    position: relative;
    margin-right: 30px;
}
.advantages-item-image {
    height: 62px;
    /*margin-right: 10px;
    margin: 10px;*/
}
.vertical_line {
    border-left: 1px solid #6a6a6a;
    height: 150px;
    position: absolute;
    margin-top: -60px;
}
.horizontal_line {
    border-top: 1px solid #6a6a6a;
    width: 127px;
    position: absolute;
    margin-top: 70px;
    margin-left: -10px;
}
.advantages-item-desc {
    color: #242322;
    font-family: Raleway, serif;
    font-size: 19px;
    font-weight: 500;
    width: 200px;
    height: 62px;
    /*margin-left: 10px;
    margin-top: 20px;*/
}
.page_3{
    height: 1365px;
}
.office1 {
    background-image: url("images/office.png");
    height: 449px;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}
.office-content {
    width: 550px;
    position: absolute;
    right: 0;
    top: 5%;
    padding: 30px;
}
.office-content2 {
    left: 0;
}
.office-content-name {
    margin: auto auto 30px;
    color: #fffffc;
    font-family: "Raleway - Black", serif;
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
    border: 3px solid #f8f5d6;
    width: 366px;
    height: 67px;
    text-align: center;
    line-height: 67px;
    position: relative;
}
.office-lines {
    display: flex;
    justify-content: space-between;
}
.before-name, .after-name {
    border-bottom: 1px solid #f8f5d6;
    width: 80px;
    position: absolute;
    top: 15%;
}
.after-name {
    right: 5%;
}
.office-content-filling {
    font-family: Raleway, serif;
    font-size: 24px;
    font-weight: 500;
}
.office1-button {
    width: 267px;
    height: 71px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    border: 3px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.68;
    display: block;
    margin: auto;
}
.office1-button-name {
    color: #2e2e2b;
    font-family: "Raleway - Black", serif;
    font-size: 38px;
    font-weight: 550;
    text-transform: uppercase;
}
.office2 {
    background-image: url("images/office2.png");
    height: 453px;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}
.office3 {
    background-image: url("images/office3.png");
    height: 464px;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}
.office img{
    display: block;
    margin: auto;
    width: 100%;
}
.office-content{
   right: 0;
}
.page_4{
    height: 900px;
    position: relative;
    width: 100%;
    background: url("images/content4.png") no-repeat center;
}

.orange_frame {
    width: 904px;
    height: 814px;
    border: 5px solid #ce893c;
    display: block;
    margin: 60px auto auto;
}

#page_4_woman {
    position: absolute;
    bottom: 10%;
    left: 12%;
}

footer {
    width: 100%;
    height: 252px;
    background-color: #612327;
    display: flex;
    justify-content: space-between;
}
.footer-follow {
    text-align: center;
}
.footer-cow-space {
    text-align: left;
}
.footer-contact {
    text-align: right;
}
.footer-cow-space-name {
    margin-top: 34px;
    color: #f1e9b9;
    font-family: "Raleway", serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.footer-cow-space {
    margin-left: 72px;
}
 .footer-contact {
    margin-right: 72px;
}
.footer-cow-space-text {
    margin-bottom: 45px;
}
.footer-cow-space-text .twitter {
    margin-right: 26px;
}
.footer-cow-space-text .inst {
    margin-right: 26px;
}
